<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Forge</title>
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>

    <!-- Format picker panel -->

    <section id="format-picker">
        <div class="format-panel">
            <div class=" format-title">
                <h2>Standard</h2>
            </div>
            <div class="format-img">
                <img src="/images/standard.png" alt="">
            </div>
            <div class="format-sets">
                <p>naxrammas</p>
                <p>msg</p>
                <p>core</p>
            </div>
        </div>
        <div class="format-panel">
            <div class=" format-title">
                <h2>Wild</h2>
            </div>
            <div class="format-img">
                <img src="/images/wild.png" alt="">
            </div>
            <div class="format-sets">
                <p>naxrammas</p>
                <p>msg</p>
                <p>core</p>
            </div>
        </div>
        <div class="format-panel">
            <div class=" format-title">
                <h2>Classic</h2>
            </div>
            <div class="format-img">
                <img src="/images/classic.png" alt="">
            </div>
            <div class="format-sets">
                <p>sdgdsg</p>
                <p>safads</p>
                <p>asdfd</p>
            </div>
        </div>
    </section>

    <!-- Class picker panel -->

    <section id="class-picker">
        <div id="class-panel">
            <div id="demon-hunter-p" class="class-portrait grayscale"></div>
            <div id="druid-p" class="class-portrait grayscale"></div>
            <div id="hunter-p" class="class-portrait grayscale"></div>
            <div id="mage-p" class="class-portrait grayscale"></div>
            <div id="paladin-p" class="class-portrait grayscale"></div>
            <div id="priest-p" class="class-portrait grayscale"></div>
            <div id="rogue-p" class="class-portrait grayscale"></div>
            <div id="shaman-p" class="class-portrait grayscale"></div>
            <div id="warlock-p" class="class-portrait grayscale"></div>
            <div id="warrior-p" class="class-portrait grayscale"></div>
        </div>
    </section>

    <script src="/static/app.js"></script>

</body>

</html>