<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Forge</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <div id="logo-holder">
        <div id="hs-logo"></div>
    </div>

    <nav>
    </nav>

    <section class="content"></section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/forms.js"></script>
    <script src="/static/user.js"></script>
    <script src="/static/vanilla-tilt.js"></script>
    <script src="/static/variables.js"></script>
    <script src="/static/format-class.js"></script>
    <script src="/static/deck-builder.js"></script>
    <script src="/static/filters.js"></script>
    <script src="/static/decks.js"></script>
    <script src="/static/sets.js"></script>

</body>

</html>